<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/index-master.css' %}">
        <title>Document</title>
    </head>
    <body>
        {% comment %} <h1>People entered:</h1>
        <h2 id="count-el">0</h2>
        <button id='increment-btn' onclick="increment()">INCREMENT</button>
        <button id='save-btn' onclick='save()'>SAVE</button>
        <p id='save-el'>Previous entries: </p> {% endcomment %}
        {% comment %} //! {% endcomment %}
        {% comment %} <p id='welcome-el'></p>
        <h1>tets</h1> {% endcomment %}
        {% comment %} //! {% endcomment %}
        {% comment %} <span id='num1-el'></span>
        <span id='num2-el'></span>
        <br>
        <button onclick='add()'>Add</button>
        <button onclick='subtract()'>Subtract</button>
        <button onclick='divide()'>Divide</button>
        <button onclick='multiply()'>Multiply</button>
        <br>
        <span id='sum-el'>Sum: </span> {% endcomment %}
        {% comment %} //! {% endcomment %}
        <h1>Blackjack</h1>
        <p id='message-el'>Want to play a round?</p>
        <p id='card-el'>Cards:</p>
        <p id='sum-el'>Sum:</p>
        <button class='button-el' onclick='startGame()'>START GAME</button>
        <br>
        <button class='button-el' onclick='newCard()'>NEW CARD</button>
        <p id='player-el'></p>
        <div id='kiwi-shelf'></div>
        <div id='strawberry-shelf'></div>
        <script src='{% static 'js/index.js' %}'></script>
    </body>
</html>
