/* h1 {
    color: goldenrod;
}
body {
    background-image: url("/static/images/blackjack.jpg");
    background-size: cover;
    font-family: "Ms Madi", cursive;
    color: white;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
}

.button-el {
    width: 15%;
    height: 3em;
    font-family: "Ms Madi", cursive;
    font-size: 24px;
    background-color: goldenrod;
    border: 4px solid black;
    color: rgb(9, 93, 9);
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

#kiwi-shelf {
    margin: auto;
    border: 3px solid black;
    display: inline-block;
    background-color: greenyellow;
    padding: 10px;
    height: 50px;
    margin-bottom: 10px;
}

#strawberry-shelf {
    margin: auto;
    display: inline-block;
    border: 3px solid black;
    padding: 10px;
    height: 50px;
    background-color: red;
} */

/* //! UPPER THINGS ARE BLACKJACK'S */

body {
    margin: 0;
    padding: 10px;
    font-size: 32px;
    font-family: "Ms Madi", cursive;
}

input {
    width: 100%;
    margin-bottom: 10px;
    height: 2.5em;
    border: 2px solid green;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: green;
    padding: 10px 25px;
    border: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 1px;
    margin-bottom: 1px;
}

li a {
    text-decoration: none;
    color: green;
}
